services:

  travelvv:
    container_name: travelvv
    restart: always

    network_mode: host

    build:
      context: .
      dockerfile: Dockerfile

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 5

    volumes:
      - ./logs:/app/logs
      - ./static:/app/static

    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"

  telegram-bot:
    container_name: travelvv-bot
    restart: always

    network_mode: host

    build:
      context: .
      dockerfile: Dockerfile

    volumes:
      - ./logs:/app/logs

    environment:
    - PYTHONPATH=/app

    command: python -m app.telegram.main

    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
