{% set hour = now.hour %}
{{ ["🌙 Доброй ночи", "🌅 Доброе Утро", "☀️ Добрый день", "🌇 Добрый вечер"][hour//6] }}, {{ booking.first_name }}!

<b>🔔 Напоминание:</b>
<b>{{ excursion.date.strftime('%d %B') }}</b> состоится экскурсия <b>{{ excursion.title }}</b>.

👤 <b>Ваши данные:</b>
    • {{ booking.last_name }} {{ booking.first_name }}
    • {{ booking.phone_number }}
    • {{ booking.total_people }} человек{% if booking.children %} и {{ booking.children }} детей{% endif %}

{% if booking.city == 'Симферополь' %}
<b>📍 <i>Точка отравления:</i></b> ТРЦ Меганом, район аптеки "Авицена"
{% elif booking.city == 'Севастополь' %}
<b>📍 <i>Точка отравления:</i></b> Проспект Генерала Острякова, 164 (Карман)
{% elif booking.city == 'Бахчисарай' %}
<b>📍 <i>Точка отравления:</i></b> Заправка ATAN
{% endif %}

<b>📝 Пожалуйста, оплатите экскурсию по реквизитам ниже:</b>
+7(978)700-58-59 - Виталий (Т-Банк)

💵 <b>Итого:</b> {{ booking.total_people * excursion.price }} руб.

<b>📞 Примечание:</b>
После оплаты, отправьте чек по указанному номеру:
+7(978)700-58-59 - Телеграм

<i>Вопросы по эскурсиям? Пишите:</i>
+7(978)700-58-59 - Виталий

<i>Вопросы по работе бота? Пишите:</i>
@l0kach - Артём
