<b>БРОНИРОВАНИЕ</b>
━━━━━━━━━━━━━━━━━━
<b>ID:</b> {{ booking.id }}
<b>Создана:</b> {{ formated_created_at }}
<b>Экскурсия:</b> {{ excursion.title }}
<b>Дата:</b> {{ formated_date }}
━━━━━━━━━━━━━━━━━━
<b>Клиент:</b> {{ booking.last_name }} {{ booking.first_name }}
<b>Телефон:</b> {{ booking.phone_number }}
<b>Кол-во гостей:</b> {{ booking.total_people }}
<b>Сумма:</b> {{ sum }} руб.
━━━━━━━━━━━━━━━━━━
{% if booking.is_active %}
<b>Статус:</b> 🟢 Активна
{% else %}
<b>Статус:</b> 🔴 В обработке
{% endif %}
